openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Login API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Login
paths:
  /login:
    post:
      summary: TheTVDB Create an Auth Token. the Token Has One Month Validation Length
      operationId: login
      tags:
      - Login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - apikey
              properties:
                apikey:
                  type: string
                pin:
                  type: string
            examples:
              LoginRequestExample:
                summary: Default login request
                x-microcks-default: true
                value:
                  apikey: YOUR_API_KEY
                  pin: A1B2C3D4
        required: true
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      token:
                        type: string
                    type: object
                  status:
                    type: string
                type: object
              examples:
                Login200Example:
                  summary: Default login 200 response
                  x-microcks-default: true
                  value:
                    data:
                      token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.payload.signature
                    status: Continuing
        '401':
          description: invalid credentials
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
