openapi: 3.0.0
info:
  description: 'Documentation of [TheTVDB](https://thetvdb.com/) API V4. All related information is linked from our [Github repo](https://github.com/thetvdb/v4-api). You might also want to use our [Postman collection] (https://www.getpostman.com/collections/7a9397ce69ff246f74d0)

    ## Authentication

    1. Use the /login endpoint and provide your API key as "apikey". If you have a user-supported key, also provide your subscriber PIN as "pin". Otherwise completely remove "pin" from your call.

    2. Executing this call will provide you with a bearer token, which is valid for 1 month.

    3. Provide your bearer token for subsequent API calls by clicking Authorize below or including in the header of all direct API calls: `Authorization: Bearer [your-token]`


    ## Notes

    1. "score" is a field across almost all entities.  We generate scores for different types of entities in various ways, so no assumptions should be made about the meaning of this value.  It is simply used to hint at relative popularity for sorting purposes.

    '
  title: TVDB API V4 Artwork Characters API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Characters
paths:
  /characters/{id}:
    get:
      description: Returns character base record
      operationId: getCharacterBase
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: number
        example: 12345
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Character'
                  status:
                    type: string
                type: object
              examples:
                GetCharacterBase200Example:
                  summary: Default getCharacterBase 200 response
                  x-microcks-default: true
                  value:
                    data:
                      aliases:
                      - language: eng
                        name: Example Name
                      episode:
                        image: https://artworks.thetvdb.com/banners/example.jpg
                        name: Example Name
                        year: '2024'
                      episodeId: 12345
                      id: 12345
                      image: https://artworks.thetvdb.com/banners/example.jpg
                      isFeatured: true
                      movieId: 12345
                      movie:
                        image: https://artworks.thetvdb.com/banners/example.jpg
                        name: Example Name
                        year: '2024'
                      name: Example Name
                      nameTranslations:
                      - example
                      overviewTranslations:
                      - example
                      peopleId: 12345
                      personImgURL: https://artworks.thetvdb.com/banners/example.jpg
                      peopleType: example
                      seriesId: 12345
                      series:
                        image: https://artworks.thetvdb.com/banners/example.jpg
                        name: Example Name
                        year: '2024'
                      sort: 12345
                      tagOptions:
                      - helpText: example
                        id: 12345
                        name: Example Name
                        tag: 12345
                        tagName: example
                      type: 12345
                      url: https://artworks.thetvdb.com/banners/example.jpg
                      personName: example
                    status: Continuing
        '400':
          description: Invalid character id
        '401':
          description: Unauthorized
        '404':
          description: Character not found
      tags:
      - Characters
      summary: TheTVDB Get Character Base
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RecordInfo:
      description: base record info
      properties:
        image:
          type: string
          x-go-name: Image
          example: https://artworks.thetvdb.com/banners/example.jpg
        name:
          type: string
          x-go-name: Name
          example: Example Name
        year:
          type: string
          example: '2024'
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    TagOption:
      description: tag option record
      properties:
        helpText:
          type: string
          example: example
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        name:
          type: string
          x-go-name: Name
          example: Example Name
        tag:
          format: int64
          type: integer
          x-go-name: Tag
          example: 12345
        tagName:
          type: string
          x-go-name: TagName
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Alias:
      description: An alias model, which can be associated with a series, season, movie, person, or list.
      properties:
        language:
          type: string
          maximum: 4
          description: A 3-4 character string indicating the language of the alias, as defined in Language.
          example: eng
        name:
          type: string
          maximum: 100
          description: A string containing the alias itself.
          example: Example Name
      type: object
    Character:
      description: character record
      properties:
        aliases:
          items:
            $ref: '#/components/schemas/Alias'
          type: array
          x-go-name: Aliases
        episode:
          $ref: '#/components/schemas/RecordInfo'
        episodeId:
          type: integer
          nullable: true
          example: 12345
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        image:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        isFeatured:
          type: boolean
          x-go-name: IsFeatured
          example: true
        movieId:
          type: integer
          nullable: true
          example: 12345
        movie:
          $ref: '#/components/schemas/RecordInfo'
        name:
          type: string
          example: Example Name
        nameTranslations:
          items:
            type: string
          type: array
          x-go-name: NameTranslations
          example:
          - example
        overviewTranslations:
          items:
            type: string
          type: array
          x-go-name: OverviewTranslations
          example:
          - example
        peopleId:
          type: integer
          example: 12345
        personImgURL:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        peopleType:
          type: string
          example: example
        seriesId:
          type: integer
          nullable: true
          example: 12345
        series:
          $ref: '#/components/schemas/RecordInfo'
        sort:
          format: int64
          type: integer
          x-go-name: Sort
          example: 12345
        tagOptions:
          items:
            $ref: '#/components/schemas/TagOption'
          type: array
          x-go-name: TagOptions
        type:
          format: int64
          type: integer
          x-go-name: Type
          example: 12345
        url:
          type: string
          x-go-name: URL
          example: https://artworks.thetvdb.com/banners/example.jpg
        personName:
          type: string
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
