openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 User info API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: User Info
paths:
  /user:
    get:
      description: returns user info
      operationId: getUserInfo
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/UserInfo'
                  status:
                    type: string
                type: object
              examples:
                GetUserInfo200Example:
                  summary: Default getUserInfo 200 response
                  x-microcks-default: true
                  value:
                    data: null
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - User Info
      summary: TheTVDB Get User Info
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /user/{id}:
    get:
      description: returns user info by user id
      operationId: getUserInfoById
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: number
        example: 12345
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/UserInfo'
                  status:
                    type: string
                type: object
              examples:
                GetUserInfoById200Example:
                  summary: Default getUserInfoById 200 response
                  x-microcks-default: true
                  value:
                    data: null
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - User Info
      summary: TheTVDB Get User Info by Id
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UserInfo:
      description: User info record
      type: object
      properties:
        id:
          type: integer
          example: 12345
        language:
          type: string
          example: eng
        name:
          type: string
          example: Example Name
        type:
          type: string
          example: example
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
