openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Inspiration Types API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: InspirationTypes
paths:
  /inspiration/types:
    get:
      description: returns list of inspiration types records
      operationId: getAllInspirationTypes
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/InspirationType'
                    type: array
                  status:
                    type: string
                type: object
              examples:
                GetAllInspirationTypes200Example:
                  summary: Default getAllInspirationTypes 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: 12345
                      name: Example Name
                      description: A descriptive paragraph of text.
                      reference_name: example
                      url: https://artworks.thetvdb.com/banners/example.jpg
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - InspirationTypes
      summary: TheTVDB Get All Inspiration Types
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    InspirationType:
      description: Movie inspiration type record
      properties:
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        name:
          type: string
          example: Example Name
        description:
          type: string
          example: A descriptive paragraph of text.
        reference_name:
          type: string
          example: example
        url:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
