openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Content Ratings API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Content Ratings
paths:
  /content/ratings:
    get:
      description: returns list content rating records
      operationId: getAllContentRatings
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ContentRating'
                    type: array
                  status:
                    type: string
                type: object
              examples:
                GetAllContentRatings200Example:
                  summary: Default getAllContentRatings 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: 12345
                      name: Example Name
                      description: A descriptive paragraph of text.
                      country: usa
                      contentType: example
                      order: 1
                      fullName: example
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - Content Ratings
      summary: TheTVDB Get All Content Ratings
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ContentRating:
      description: content rating record
      properties:
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        name:
          type: string
          x-go-name: Name
          example: Example Name
        description:
          type: string
          example: A descriptive paragraph of text.
        country:
          type: string
          example: usa
        contentType:
          type: string
          example: example
        order:
          type: integer
          example: 1
        fullName:
          type: string
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
