openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Movie Statuses API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Movie Statuses
paths:
  /movies/statuses:
    get:
      description: returns list of status records
      operationId: getAllMovieStatuses
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Status'
                    type: array
                  status:
                    type: string
                type: object
              examples:
                GetAllMovieStatuses200Example:
                  summary: Default getAllMovieStatuses 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: 12345
                      keepUpdated: '2024-01-15'
                      name: Example Name
                      recordType: example
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - Movie Statuses
      summary: TheTVDB Get All Movie Statuses
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Status:
      description: status record
      properties:
        id:
          format: int64
          type:
          - integer
          - 'null'
          x-go-name: ID
          example: 12345
        keepUpdated:
          type: boolean
          x-go-name: KeepUpdated
          example: '2024-01-15'
        name:
          type: string
          x-go-name: Name
          example: Example Name
        recordType:
          type: string
          x-go-name: RecordType
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
