openapi: 3.0.0
info:
  description: 'Documentation of [TheTVDB](https://thetvdb.com/) API V4. All related information is linked from our [Github repo](https://github.com/thetvdb/v4-api). You might also want to use our [Postman collection] (https://www.getpostman.com/collections/7a9397ce69ff246f74d0)

    ## Authentication

    1. Use the /login endpoint and provide your API key as "apikey". If you have a user-supported key, also provide your subscriber PIN as "pin". Otherwise completely remove "pin" from your call.

    2. Executing this call will provide you with a bearer token, which is valid for 1 month.

    3. Provide your bearer token for subsequent API calls by clicking Authorize below or including in the header of all direct API calls: `Authorization: Bearer [your-token]`


    ## Notes

    1. "score" is a field across almost all entities.  We generate scores for different types of entities in various ways, so no assumptions should be made about the meaning of this value.  It is simply used to hint at relative popularity for sorting purposes.

    '
  title: TVDB API V4 Artwork Episodes API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Episodes
paths:
  /episodes:
    get:
      description: Returns a list of episodes base records with the basic attributes.<br> Note that all episodes are returned, even those that may not be included in a series' default season order.
      operationId: getAllEpisodes
      parameters:
      - description: page number
        in: query
        name: page
        schema:
          type: number
        example: 1.0
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/EpisodeBaseRecord'
                    type: array
                  status:
                    type: string
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
              examples:
                GetAllEpisodes200Example:
                  summary: Default getAllEpisodes 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - absoluteNumber: 1
                      aired: example
                      airsAfterSeason: 1
                      airsBeforeEpisode: 1
                      airsBeforeSeason: 1
                      finaleType: example
                      id: 12345
                      image: https://artworks.thetvdb.com/banners/example.jpg
                      imageType: 1
                      isMovie: 12345
                      lastUpdated: '2024-01-15'
                      linkedMovie: 1
                      name: Example Name
                      nameTranslations:
                      - example
                      number: 1
                      overview: A descriptive paragraph of text.
                      overviewTranslations:
                      - example
                      runtime: 1
                      seasonNumber: 1
                      seasons:
                      - id: 12345
                        image: https://artworks.thetvdb.com/banners/example.jpg
                        imageType: 1
                        lastUpdated: '2024-01-15'
                        name: Example Name
                        nameTranslations:
                        - example
                        number: 12345
                        overviewTranslations:
                        - example
                        companies:
                          studio:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          network:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          production:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          distributor:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          special_effects:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                        seriesId: 12345
                        type:
                          alternateName: example
                          id: 12345
                          name: Example Name
                          type: example
                        year: '2024'
                      seriesId: 12345
                      seasonName: example
                      year: '2024'
                    status: Continuing
                    links:
                      prev: example
                      self: example
                      next: example
                      total_items: 1
                      page_size: 1
        '401':
          description: Unauthorized
      tags:
      - Episodes
      summary: TheTVDB Get All Episodes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /episodes/{id}:
    get:
      description: Returns episode base record
      operationId: getEpisodeBase
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: number
        example: 12345
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/EpisodeBaseRecord'
                  status:
                    type: string
                type: object
              examples:
                GetEpisodeBase200Example:
                  summary: Default getEpisodeBase 200 response
                  x-microcks-default: true
                  value:
                    data:
                      absoluteNumber: 1
                      aired: example
                      airsAfterSeason: 1
                      airsBeforeEpisode: 1
                      airsBeforeSeason: 1
                      finaleType: example
                      id: 12345
                      image: https://artworks.thetvdb.com/banners/example.jpg
                      imageType: 1
                      isMovie: 12345
                      lastUpdated: '2024-01-15'
                      linkedMovie: 1
                      name: Example Name
                      nameTranslations:
                      - example
                      number: 1
                      overview: A descriptive paragraph of text.
                      overviewTranslations:
                      - example
                      runtime: 1
                      seasonNumber: 1
                      seasons:
                      - id: 12345
                        image: https://artworks.thetvdb.com/banners/example.jpg
                        imageType: 1
                        lastUpdated: '2024-01-15'
                        name: Example Name
                        nameTranslations:
                        - example
                        number: 12345
                        overviewTranslations:
                        - example
                        companies:
                          studio:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          network:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          production:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          distributor:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          special_effects:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                        seriesId: 12345
                        type:
                          alternateName: example
                          id: 12345
                          name: Example Name
                          type: example
                        year: '2024'
                      seriesId: 12345
                      seasonName: example
                      year: '2024'
                    status: Continuing
        '400':
          description: Invalid episode id
        '401':
          description: Unauthorized
        '404':
          description: Episode not found
      tags:
      - Episodes
      summary: TheTVDB Get Episode Base
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /episodes/{id}/extended:
    get:
      description: Returns episode extended record
      operationId: getEpisodeExtended
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: number
        example: 12345
      - description: meta
        in: query
        name: meta
        required: false
        schema:
          type: string
          enum:
          - translations
          example: translations
        example: translations
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/EpisodeExtendedRecord'
                  status:
                    type: string
                type: object
              examples:
                GetEpisodeExtended200Example:
                  summary: Default getEpisodeExtended 200 response
                  x-microcks-default: true
                  value:
                    data:
                      aired: example
                      airsAfterSeason: 1
                      airsBeforeEpisode: 1
                      airsBeforeSeason: 1
                      awards:
                      - id: 12345
                        name: Example Name
                      characters:
                      - aliases:
                        - language: eng
                          name: Example Name
                        episode:
                          image: https://artworks.thetvdb.com/banners/example.jpg
                          name: Example Name
                          year: '2024'
                        episodeId: 12345
                        id: 12345
                        image: https://artworks.thetvdb.com/banners/example.jpg
                        isFeatured: true
                        movieId: 12345
                        movie:
                          image: https://artworks.thetvdb.com/banners/example.jpg
                          name: Example Name
                          year: '2024'
                        name: Example Name
                        nameTranslations: &id003
                        - example
                        overviewTranslations: &id004
                        - example
                        peopleId: 12345
                        personImgURL: https://artworks.thetvdb.com/banners/example.jpg
                        peopleType: example
                        seriesId: 12345
                        series:
                          image: https://artworks.thetvdb.com/banners/example.jpg
                          name: Example Name
                          year: '2024'
                        sort: 12345
                        tagOptions:
                        - helpText: example
                          id: 12345
                          name: Example Name
                          tag: 12345
                          tagName: example
                        type: 12345
                        url: https://artworks.thetvdb.com/banners/example.jpg
                        personName: example
                      companies:
                      - activeDate: '2024-01-15'
                        aliases:
                        - language: eng
                          name: Example Name
                        country: usa
                        id: 12345
                        inactiveDate: '2024-01-15'
                        name: Example Name
                        nameTranslations: &id001
                        - example
                        overviewTranslations: &id002
                        - example
                        primaryCompanyType: 12345
                        slug: example-slug
                        parentCompany:
                          id: 12345
                          name: Example Name
                          relation:
                            id: null
                            typeName: null
                        tagOptions:
                        - helpText: example
                          id: 12345
                          name: Example Name
                          tag: 12345
                          tagName: example
                      contentRatings:
                      - id: 12345
                        name: Example Name
                        description: A descriptive paragraph of text.
                        country: usa
                        contentType: example
                        order: 1
                        fullName: example
                      finaleType: example
                      id: 12345
                      image: https://artworks.thetvdb.com/banners/example.jpg
                      imageType: 1
                      isMovie: 12345
                      lastUpdated: '2024-01-15'
                      linkedMovie: 1
                      name: Example Name
                      nameTranslations:
                      - example
                      networks:
                      - activeDate: '2024-01-15'
                        aliases:
                        - language: eng
                          name: Example Name
                        country: usa
                        id: 12345
                        inactiveDate: '2024-01-15'
                        name: Example Name
                        nameTranslations: *id001
                        overviewTranslations: *id002
                        primaryCompanyType: 12345
                        slug: example-slug
                        parentCompany:
                          id: 12345
                          name: Example Name
                          relation:
                            id: null
                            typeName: null
                        tagOptions:
                        - helpText: example
                          id: 12345
                          name: Example Name
                          tag: 12345
                          tagName: example
                      nominations:
                      - character:
                          aliases:
                          - language: null
                            name: null
                          episode:
                            image: null
                            name: null
                            year: null
                          episodeId: 12345
                          id: 12345
                          image: https://artworks.thetvdb.com/banners/example.jpg
                          isFeatured: true
                          movieId: 12345
                          movie:
                            image: null
                            name: null
                            year: null
                          name: Example Name
                          nameTranslations: *id003
                          overviewTranslations: *id004
                          peopleId: 12345
                          personImgURL: https://artworks.thetvdb.com/banners/example.jpg
                          peopleType: example
                          seriesId: 12345
                          series:
                            image: null
                            name: null
                            year: null
                          sort: 12345
                          tagOptions:
                          - helpText: null
                            id: null
                            name: null
                            tag: null
                            tagName: null
                          type: 12345
                          url: https://artworks.thetvdb.com/banners/example.jpg
                          personName: example
                        details: example
                        episode:
                          absoluteNumber: 1
                          aired: example
                          airsAfterSeason: 1
                          airsBeforeEpisode: 1
                          airsBeforeSeason: 1
                          finaleType: example
                          id: 12345
                          image: https://artworks.thetvdb.com/banners/example.jpg
                          imageType: 1
                          isMovie: 12345
                          lastUpdated: '2024-01-15'
                          linkedMovie: 1
                          name: Example Name
                          nameTranslations:
                          - example
                          number: 1
                          overview: A descriptive paragraph of text.
                          overviewTranslations:
                          - example
                          runtime: 1
                          seasonNumber: 1
                          seasons:
                          - id: null
                            image: null
                            imageType: null
                            lastUpdated: null
                            name: null
                            nameTranslations: null
                            number: null
                            overviewTranslations: null
                            companies: {}
                            seriesId: null
                            type: {}
                            year: null
                          seriesId: 12345
                          seasonName: example
                          year: '2024'
                        id: 12345
                        isWinner: true
                        movie:
                          aliases:
                          - language: null
                            name: null
                          id: 12345
                          image: https://artworks.thetvdb.com/banners/example.jpg
                          lastUpdated: '2024-01-15'
                          name: Example Name
                          nameTranslations:
                          - example
                          overviewTranslations:
                          - example
                          score: 100
                          slug: example-slug
                          status:
                            id: null
                            keepUpdated: null
                            name: null
                            recordType: null
                          runtime: 1
                          year: '2024'
                        series:
                          aliases:
                          - language: null
                            name: null
                          averageRuntime: 1
                          country: usa
                          defaultSeasonType: 12345
                          episodes:
                          - absoluteNumber: null
                            aired: null
                            airsAfterSeason: null
                            airsBeforeEpisode: null
                            airsBeforeSeason: null
                            finaleType: null
                            id: null
                            image: null
                            imageType: null
                            isMovie: null
                            lastUpdated: null
                            linkedMovie: null
                            name: null
                            nameTranslations: null
                            number: null
                            overview: null
                            overviewTranslations: null
                            runtime: null
                            seasonNumber: null
                            seasons:
                            - {}
                            seriesId: null
                            seasonName: null
                            year: null
                          firstAired: example
                          id: 12345
                          image: https://artworks.thetvdb.com/banners/example.jpg
                          isOrderRandomized: true
                          lastAired: example
                          lastUpdated: '2024-01-15'
                          name: Example Name
                          nameTranslations:
                          - example
                          nextAired: example
                          originalCountry: example
                          originalLanguage: example
                          overviewTranslations:
                          - example
                          score: 100
                          slug: example-slug
                          status:
                            id: null
                            keepUpdated: null
                            name: null
                            recordType: null
                          year: '2024'
                        year: '2024'
                        category: example
                        name: Example Name
                      number: 1
                      overview: A descriptive paragraph of text.
                      overviewTranslations:
                      - example
                      productionCode: example
                      remoteIds:
                      - id: abc123
                        type: 12345
                        sourceName: example
                      runtime: 1
                      seasonNumber: 1
                      seasons:
                      - id: 12345
                        image: https://artworks.thetvdb.com/banners/example.jpg
                        imageType: 1
                        lastUpdated: '2024-01-15'
                        name: Example Name
                        nameTranslations:
                        - example
                        number: 12345
                        overviewTranslations:
                        - example
                        companies:
                          studio:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          network:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          production:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          distributor:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                          special_effects:
                          - activeDate: null
                            aliases:
                            - {}
                            country: null
                            id: null
                            inactiveDate: null
                            name: null
                            nameTranslations: null
                            overviewTranslations: null
                            primaryCompanyType: null
                            slug: null
                            parentCompany: {}
                            tagOptions:
                            - {}
                        seriesId: 12345
                        type:
                          alternateName: example
                          id: 12345
                          name: Example Name
                          type: example
                        year: '2024'
                      seriesId: 12345
                      studios:
                      - activeDate: '2024-01-15'
                        aliases:
                        - language: eng
                          name: Example Name
                        country: usa
                        id: 12345
                        inactiveDate: '2024-01-15'
                        name: Example Name
                        nameTranslations: *id001
                        overviewTranslations: *id002
                        primaryCompanyType: 12345
                        slug: example-slug
                        parentCompany:
                          id: 12345
                          name: Example Name
                          relation:
                            id: null
                            typeName: null
                        tagOptions:
                        - helpText: example
                          id: 12345
                          name: Example Name
                          tag: 12345
                          tagName: example
                      tagOptions:
                      - helpText: example
                        id: 12345
                        name: Example Name
                        tag: 12345
                        tagName: example
                      trailers:
                      - id: 12345
                        language: eng
                        name: Example Name
                        url: https://artworks.thetvdb.com/banners/example.jpg
                        runtime: 1
                      translations:
                        nameTranslations:
                        - aliases: &id005
                          - example
                          isAlias: true
                          isPrimary: true
                          language: eng
                          name: Example Name
                          overview: A descriptive paragraph of text.
                          tagline: example
                        overviewTranslations:
                        - aliases: *id005
                          isAlias: true
                          isPrimary: true
                          language: eng
                          name: Example Name
                          overview: A descriptive paragraph of text.
                          tagline: example
                        alias:
                        - example
                      year: '2024'
                    status: Continuing
        '400':
          description: Invalid episode id
        '401':
          description: Unauthorized
        '404':
          description: Episode not found
      tags:
      - Episodes
      summary: TheTVDB Get Episode Extended
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /episodes/{id}/translations/{language}:
    get:
      description: Returns episode translation record
      operationId: getEpisodeTranslation
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: number
        example: 12345
      - description: language
        in: path
        name: language
        required: true
        schema:
          type: string
        example: eng
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Translation'
                  status:
                    type: string
                type: object
              examples:
                GetEpisodeTranslation200Example:
                  summary: Default getEpisodeTranslation 200 response
                  x-microcks-default: true
                  value:
                    data:
                      aliases:
                      - example
                      isAlias: true
                      isPrimary: true
                      language: eng
                      name: Example Name
                      overview: A descriptive paragraph of text.
                      tagline: example
                    status: Continuing
        '400':
          description: Invalid episode id. Invalid language.
        '401':
          description: Unauthorized
        '404':
          description: Episode not found
      tags:
      - Episodes
      summary: TheTVDB Get Episode Translation
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Translation:
      description: translation record
      properties:
        aliases:
          items:
            type: string
          type: array
          example:
          - example
        isAlias:
          type: boolean
          example: true
        isPrimary:
          type: boolean
          example: true
        language:
          type: string
          x-go-name: Language
          example: eng
        name:
          type: string
          example: Example Name
        overview:
          type: string
          example: A descriptive paragraph of text.
        tagline:
          type: string
          description: Only populated for movie translations.  We disallow taglines without a title.
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Alias:
      description: An alias model, which can be associated with a series, season, movie, person, or list.
      properties:
        language:
          type: string
          maximum: 4
          description: A 3-4 character string indicating the language of the alias, as defined in Language.
          example: eng
        name:
          type: string
          maximum: 100
          description: A string containing the alias itself.
          example: Example Name
      type: object
    CompanyRelationShip:
      description: A company relationship
      properties:
        id:
          type: integer
          nullable: true
          example: 12345
        typeName:
          type: string
          example: example
    SeasonType:
      description: season type record
      properties:
        alternateName:
          type: string
          x-go-name: Name
          example: example
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        name:
          type: string
          x-go-name: Name
          example: Example Name
        type:
          type: string
          x-go-name: Type
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    AwardNomineeBaseRecord:
      description: base award nominee record
      properties:
        character:
          $ref: '#/components/schemas/Character'
        details:
          type: string
          example: example
        episode:
          $ref: '#/components/schemas/EpisodeBaseRecord'
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        isWinner:
          type: boolean
          x-go-name: IsWinner
          example: true
        movie:
          $ref: '#/components/schemas/MovieBaseRecord'
        series:
          $ref: '#/components/schemas/SeriesBaseRecord'
        year:
          type: string
          example: '2024'
        category:
          type: string
          example: example
        name:
          type: string
          example: Example Name
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Links:
      description: Links for next, previous and current record
      properties:
        prev:
          type: string
          nullable: true
          example: example
        self:
          type: string
          nullable: true
          example: example
        next:
          type: string
          example: example
        total_items:
          type: integer
          example: 1
        page_size:
          type: integer
          example: 1
    AwardBaseRecord:
      description: base award record
      properties:
        id:
          type: integer
          example: 12345
        name:
          type: string
          example: Example Name
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    SeasonBaseRecord:
      description: season genre record
      properties:
        id:
          type: integer
          example: 12345
        image:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        imageType:
          type: integer
          example: 1
        lastUpdated:
          type: string
          example: '2024-01-15'
        name:
          type: string
          example: Example Name
        nameTranslations:
          items:
            type: string
          type: array
          x-go-name: NameTranslations
          example:
          - example
        number:
          format: int64
          type: integer
          x-go-name: Number
          example: 12345
        overviewTranslations:
          items:
            type: string
          type: array
          x-go-name: OverviewTranslations
          example:
          - example
        companies:
          type: object
          $ref: '#/components/schemas/Companies'
        seriesId:
          format: int64
          type: integer
          x-go-name: SeriesID
          example: 12345
        type:
          $ref: '#/components/schemas/SeasonType'
        year:
          type: string
          example: '2024'
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Status:
      description: status record
      properties:
        id:
          format: int64
          type: integer
          x-go-name: ID
          nullable: true
          example: 12345
        keepUpdated:
          type: boolean
          x-go-name: KeepUpdated
          example: '2024-01-15'
        name:
          type: string
          x-go-name: Name
          example: Example Name
        recordType:
          type: string
          x-go-name: RecordType
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    EpisodeBaseRecord:
      description: base episode record
      properties:
        absoluteNumber:
          type: integer
          example: 1
        aired:
          type: string
          example: example
        airsAfterSeason:
          type: integer
          example: 1
        airsBeforeEpisode:
          type: integer
          example: 1
        airsBeforeSeason:
          type: integer
          example: 1
        finaleType:
          description: season, midseason, or series
          type: string
          example: example
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        image:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        imageType:
          type: integer
          nullable: true
          example: 1
        isMovie:
          format: int64
          type: integer
          x-go-name: IsMovie
          example: 12345
        lastUpdated:
          type: string
          example: '2024-01-15'
        linkedMovie:
          type: integer
          example: 1
        name:
          type: string
          example: Example Name
        nameTranslations:
          items:
            type: string
          type: array
          x-go-name: NameTranslations
          example:
          - example
        number:
          type: integer
          example: 1
        overview:
          type: string
          example: A descriptive paragraph of text.
        overviewTranslations:
          items:
            type: string
          type: array
          x-go-name: OverviewTranslations
          example:
          - example
        runtime:
          type: integer
          nullable: true
          example: 1
        seasonNumber:
          type: integer
          example: 1
        seasons:
          items:
            $ref: '#/components/schemas/SeasonBaseRecord'
          type: array
          x-go-name: Seasons
        seriesId:
          format: int64
          type: integer
          x-go-name: SeriesID
          example: 12345
        seasonName:
          type: string
          example: example
        year:
          type: string
          example: '2024'
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    ContentRating:
      description: content rating record
      properties:
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        name:
          type: string
          x-go-name: Name
          example: Example Name
        description:
          type: string
          example: A descriptive paragraph of text.
        country:
          type: string
          example: usa
        contentType:
          type: string
          example: example
        order:
          type: integer
          example: 1
        fullName:
          type: string
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Trailer:
      description: trailer record
      properties:
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        language:
          type: string
          example: eng
        name:
          type: string
          example: Example Name
        url:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        runtime:
          type: integer
          example: 1
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    TagOption:
      description: tag option record
      properties:
        helpText:
          type: string
          example: example
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        name:
          type: string
          x-go-name: Name
          example: Example Name
        tag:
          format: int64
          type: integer
          x-go-name: Tag
          example: 12345
        tagName:
          type: string
          x-go-name: TagName
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Company:
      description: A company record
      properties:
        activeDate:
          type: string
          example: '2024-01-15'
        aliases:
          items:
            $ref: '#/components/schemas/Alias'
          type: array
          x-go-name: Aliases
        country:
          type: string
          example: usa
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        inactiveDate:
          type: string
          example: '2024-01-15'
        name:
          type: string
          example: Example Name
        nameTranslations:
          items:
            type: string
          type: array
          x-go-name: NameTranslations
          example:
          - example
        overviewTranslations:
          items:
            type: string
          type: array
          x-go-name: OverviewTranslations
          example:
          - example
        primaryCompanyType:
          format: int64
          type: integer
          x-go-name: PrimaryCompanyType
          nullable: true
          example: 12345
        slug:
          type: string
          x-go-name: Slug
          example: example-slug
        parentCompany:
          type: object
          $ref: '#/components/schemas/ParentCompany'
        tagOptions:
          items:
            $ref: '#/components/schemas/TagOption'
          type: array
          x-go-name: TagOptions
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    MovieBaseRecord:
      description: base movie record
      properties:
        aliases:
          items:
            $ref: '#/components/schemas/Alias'
          type: array
          x-go-name: Aliases
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        image:
          type: string
          x-go-name: Image
          example: https://artworks.thetvdb.com/banners/example.jpg
        lastUpdated:
          type: string
          example: '2024-01-15'
        name:
          type: string
          x-go-name: Name
          example: Example Name
        nameTranslations:
          items:
            type: string
          type: array
          x-go-name: NameTranslations
          example:
          - example
        overviewTranslations:
          items:
            type: string
          type: array
          x-go-name: OverviewTranslations
          example:
          - example
        score:
          format: double
          type: number
          x-go-name: Score
          example: 100
        slug:
          type: string
          x-go-name: Slug
          example: example-slug
        status:
          $ref: '#/components/schemas/Status'
        runtime:
          type: integer
          nullable: true
          example: 1
        year:
          type: string
          example: '2024'
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    RecordInfo:
      description: base record info
      properties:
        image:
          type: string
          x-go-name: Image
          example: https://artworks.thetvdb.com/banners/example.jpg
        name:
          type: string
          x-go-name: Name
          example: Example Name
        year:
          type: string
          example: '2024'
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Companies:
      description: Companies by type record
      properties:
        studio:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        network:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        production:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        distributor:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        special_effects:
          type: array
          items:
            $ref: '#/components/schemas/Company'
    RemoteID:
      description: remote id record
      properties:
        id:
          type: string
          x-go-name: ID
          example: abc123
        type:
          format: int64
          type: integer
          x-go-name: Type
          example: 12345
        sourceName:
          type: string
          x-go-name: SourceName
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Character:
      description: character record
      properties:
        aliases:
          items:
            $ref: '#/components/schemas/Alias'
          type: array
          x-go-name: Aliases
        episode:
          $ref: '#/components/schemas/RecordInfo'
        episodeId:
          type: integer
          nullable: true
          example: 12345
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        image:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        isFeatured:
          type: boolean
          x-go-name: IsFeatured
          example: true
        movieId:
          type: integer
          nullable: true
          example: 12345
        movie:
          $ref: '#/components/schemas/RecordInfo'
        name:
          type: string
          example: Example Name
        nameTranslations:
          items:
            type: string
          type: array
          x-go-name: NameTranslations
          example:
          - example
        overviewTranslations:
          items:
            type: string
          type: array
          x-go-name: OverviewTranslations
          example:
          - example
        peopleId:
          type: integer
          example: 12345
        personImgURL:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        peopleType:
          type: string
          example: example
        seriesId:
          type: integer
          nullable: true
          example: 12345
        series:
          $ref: '#/components/schemas/RecordInfo'
        sort:
          format: int64
          type: integer
          x-go-name: Sort
          example: 12345
        tagOptions:
          items:
            $ref: '#/components/schemas/TagOption'
          type: array
          x-go-name: TagOptions
        type:
          format: int64
          type: integer
          x-go-name: Type
          example: 12345
        url:
          type: string
          x-go-name: URL
          example: https://artworks.thetvdb.com/banners/example.jpg
        personName:
          type: string
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    EpisodeExtendedRecord:
      description: extended episode record
      properties:
        aired:
          type: string
          example: example
        airsAfterSeason:
          type: integer
          example: 1
        airsBeforeEpisode:
          type: integer
          example: 1
        airsBeforeSeason:
          type: integer
          example: 1
        awards:
          items:
            $ref: '#/components/schemas/AwardBaseRecord'
          type: array
          x-go-name: Awards
        characters:
          items:
            $ref: '#/components/schemas/Character'
          type: array
          x-go-name: Characters
        companies:
          items:
            $ref: '#/components/schemas/Company'
          type: array
        contentRatings:
          items:
            $ref: '#/components/schemas/ContentRating'
          type: array
          x-go-name: ContentRatings
        finaleType:
          description: season, midseason, or series
          type: string
          example: example
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        image:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        imageType:
          type: integer
          nullable: true
          example: 1
        isMovie:
          format: int64
          type: integer
          x-go-name: IsMovie
          example: 12345
        lastUpdated:
          type: string
          example: '2024-01-15'
        linkedMovie:
          type: integer
          example: 1
        name:
          type: string
          example: Example Name
        nameTranslations:
          items:
            type: string
          type: array
          x-go-name: NameTranslations
          example:
          - example
        networks:
          items:
            $ref: '#/components/schemas/Company'
          type: array
        nominations:
          items:
            $ref: '#/components/schemas/AwardNomineeBaseRecord'
          type: array
          x-go-name: Nominees
        number:
          type: integer
          example: 1
        overview:
          type: string
          example: A descriptive paragraph of text.
        overviewTranslations:
          items:
            type: string
          type: array
          x-go-name: OverviewTranslations
          example:
          - example
        productionCode:
          type: string
          example: example
        remoteIds:
          items:
            $ref: '#/components/schemas/RemoteID'
          type: array
          x-go-name: RemoteIDs
        runtime:
          type: integer
          nullable: true
          example: 1
        seasonNumber:
          type: integer
          example: 1
        seasons:
          items:
            $ref: '#/components/schemas/SeasonBaseRecord'
          type: array
          x-go-name: Seasons
        seriesId:
          format: int64
          type: integer
          x-go-name: SeriesID
          example: 12345
        studios:
          items:
            $ref: '#/components/schemas/Company'
          type: array
        tagOptions:
          items:
            $ref: '#/components/schemas/TagOption'
          type: array
          x-go-name: TagOptions
        trailers:
          items:
            $ref: '#/components/schemas/Trailer'
          type: array
          x-go-name: Trailers
        translations:
          $ref: '#/components/schemas/TranslationExtended'
        year:
          type: string
          example: '2024'
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    TranslationExtended:
      description: translation extended record
      properties:
        nameTranslations:
          items:
            $ref: '#/components/schemas/Translation'
          type: array
        overviewTranslations:
          items:
            $ref: '#/components/schemas/Translation'
          type: array
        alias:
          items:
            type: string
          type: array
          example:
          - example
      type: object
    SeriesBaseRecord:
      description: The base record for a series. All series airs time like firstAired, lastAired, nextAired, etc. are in US EST for US series, and for all non-US series, the time of the show’s country capital or most populous city. For streaming services, is the official release time. See https://support.thetvdb.com/kb/faq.php?id=29.
      properties:
        aliases:
          items:
            $ref: '#/components/schemas/Alias'
          type: array
          x-go-name: Aliases
        averageRuntime:
          type: integer
          nullable: true
          example: 1
        country:
          type: string
          example: usa
        defaultSeasonType:
          format: int64
          type: integer
          x-go-name: DefaultSeasonType
          example: 12345
        episodes:
          items:
            $ref: '#/components/schemas/EpisodeBaseRecord'
          type: array
          x-go-name: Episodes
        firstAired:
          type: string
          example: example
        id:
          type: integer
          example: 12345
        image:
          type: string
          example: https://artworks.thetvdb.com/banners/example.jpg
        isOrderRandomized:
          type: boolean
          x-go-name: IsOrderRandomized
          example: true
        lastAired:
          type: string
          example: example
        lastUpdated:
          type: string
          example: '2024-01-15'
        name:
          type: string
          example: Example Name
        nameTranslations:
          items:
            type: string
          type: array
          x-go-name: NameTranslations
          example:
          - example
        nextAired:
          type: string
          x-go-name: NextAired
          example: example
        originalCountry:
          type: string
          example: example
        originalLanguage:
          type: string
          example: example
        overviewTranslations:
          items:
            type: string
          type: array
          x-go-name: OverviewTranslations
          example:
          - example
        score:
          format: double
          type: number
          x-go-name: Score
          example: 100
        slug:
          type: string
          example: example-slug
        status:
          $ref: '#/components/schemas/Status'
        year:
          type: string
          example: '2024'
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    ParentCompany:
      description: A parent company record
      type: object
      properties:
        id:
          type: integer
          nullable: true
          example: 12345
        name:
          type: string
          example: Example Name
        relation:
          type: object
          $ref: '#/components/schemas/CompanyRelationShip'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
