openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Countries API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Countries
paths:
  /countries:
    get:
      description: returns list of country records
      operationId: getAllCountries
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Country'
                    type: array
                  status:
                    type: string
                type: object
              examples:
                GetAllCountries200Example:
                  summary: Default getAllCountries 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      name: Example Name
                      shortCode: example
                    status: Continuing
      tags:
      - Countries
      summary: TheTVDB Get All Countries
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Country:
      description: country record
      properties:
        id:
          type: string
          x-go-name: ID
          example: abc123
        name:
          type: string
          x-go-name: Name
          example: Example Name
        shortCode:
          type: string
          x-go-name: ShortCode
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
