openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Entity Types API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Entity Types
paths:
  /entities:
    get:
      description: returns the active entity types
      operationId: getEntityTypes
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/EntityType'
                    type: array
                  status:
                    type: string
                type: object
              examples:
                GetEntityTypes200Example:
                  summary: Default getEntityTypes 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: 12345
                      name: Example Name
                      hasSpecials: true
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - Entity Types
      summary: TheTVDB Get Entity Types
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EntityType:
      description: Entity Type record
      properties:
        id:
          type: integer
          example: 12345
        name:
          type: string
          x-go-name: Order
          example: Example Name
        hasSpecials:
          type: boolean
          example: true
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
