openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Favorites API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Favorites
paths:
  /user/favorites:
    get:
      description: returns user favorites
      operationId: getUserFavorites
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Favorites'
                  status:
                    type: string
                type: object
              examples:
                GetUserFavorites200Example:
                  summary: Default getUserFavorites 200 response
                  x-microcks-default: true
                  value:
                    data: null
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - Favorites
      summary: TheTVDB Get User Favorites
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: creates a new user favorite
      operationId: createUserFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteRecord'
            examples:
              CreateUserFavoritesRequestExample:
                summary: Default createUserFavorites request
                x-microcks-default: true
                value:
                  series: 1
                  movie: 1
                  episode: 1
                  artwork: 1
                  people: 1
                  list: 1
      responses:
        '200':
          description: Ok
        '400':
          description: Bad format
        '401':
          description: Unauthorized
      tags:
      - Favorites
      summary: TheTVDB Create User Favorites
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Favorites:
      description: User favorites record
      properties:
        series:
          items:
            type: integer
          type: array
          x-go-name: series
          example:
          - 1
        movies:
          items:
            type: integer
          type: array
          x-go-name: movies
          example:
          - 1
        episodes:
          items:
            type: integer
          type: array
          x-go-name: episodes
          example:
          - 1
        artwork:
          items:
            type: integer
          type: array
          x-go-name: artwork
          example:
          - 1
        people:
          items:
            type: integer
          type: array
          x-go-name: people
          example:
          - 1
        lists:
          items:
            type: integer
          type: array
          x-go-name: list
          example:
          - 1
    FavoriteRecord:
      description: Favorites record
      properties:
        series:
          type: integer
          x-go-name: series
          example: 1
        movie:
          type: integer
          x-go-name: movies
          example: 1
        episode:
          type: integer
          x-go-name: episodes
          example: 1
        artwork:
          type: integer
          x-go-name: artwork
          example: 1
        people:
          type: integer
          x-go-name: people
          example: 1
        list:
          type: integer
          x-go-name: list
          example: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
