openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Artwork Types API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Artwork Types
paths:
  /artwork/types:
    get:
      description: Returns a list of artworkType records
      operationId: getAllArtworkTypes
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ArtworkType'
                    type: array
                  status:
                    type: string
                type: object
              examples:
                GetAllArtworkTypes200Example:
                  summary: Default getAllArtworkTypes 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - height: 12345
                      id: 12345
                      imageFormat: example
                      name: Example Name
                      recordType: example
                      slug: example-slug
                      thumbHeight: 12345
                      thumbWidth: 12345
                      width: 12345
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - Artwork Types
      summary: TheTVDB Get All Artwork Types
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ArtworkType:
      description: artwork type record
      properties:
        height:
          format: int64
          type: integer
          example: 12345
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        imageFormat:
          type: string
          x-go-name: ImageFormat
          example: example
        name:
          type: string
          x-go-name: Name
          example: Example Name
        recordType:
          type: string
          x-go-name: RecordType
          example: example
        slug:
          type: string
          x-go-name: Slug
          example: example-slug
        thumbHeight:
          format: int64
          type: integer
          x-go-name: ThumbHeight
          example: 12345
        thumbWidth:
          format: int64
          type: integer
          x-go-name: ThumbWidth
          example: 12345
        width:
          format: int64
          type: integer
          x-go-name: Width
          example: 12345
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
