openapi: 3.0.0
info:
  description: 'Documentation of [TheTVDB](https://thetvdb.com/) API V4. All related information is linked from our [Github repo](https://github.com/thetvdb/v4-api). You might also want to use our [Postman collection] (https://www.getpostman.com/collections/7a9397ce69ff246f74d0)

    ## Authentication

    1. Use the /login endpoint and provide your API key as "apikey". If you have a user-supported key, also provide your subscriber PIN as "pin". Otherwise completely remove "pin" from your call.

    2. Executing this call will provide you with a bearer token, which is valid for 1 month.

    3. Provide your bearer token for subsequent API calls by clicking Authorize below or including in the header of all direct API calls: `Authorization: Bearer [your-token]`


    ## Notes

    1. "score" is a field across almost all entities.  We generate scores for different types of entities in various ways, so no assumptions should be made about the meaning of this value.  It is simply used to hint at relative popularity for sorting purposes.

    '
  title: TVDB API V4 Artwork Favorites API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Favorites
paths:
  /user/favorites:
    get:
      description: returns user favorites
      operationId: getUserFavorites
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Favorites'
                  status:
                    type: string
                type: object
              examples:
                GetUserFavorites200Example:
                  summary: Default getUserFavorites 200 response
                  x-microcks-default: true
                  value:
                    data: null
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - Favorites
      summary: TheTVDB Get User Favorites
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: creates a new user favorite
      operationId: createUserFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteRecord'
            examples:
              CreateUserFavoritesRequestExample:
                summary: Default createUserFavorites request
                x-microcks-default: true
                value:
                  series: 1
                  movie: 1
                  episode: 1
                  artwork: 1
                  people: 1
                  list: 1
      responses:
        '200':
          description: Ok
        '400':
          description: Bad format
        '401':
          description: Unauthorized
      tags:
      - Favorites
      summary: TheTVDB Create User Favorites
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FavoriteRecord:
      description: Favorites record
      properties:
        series:
          type: integer
          x-go-name: series
          example: 1
        movie:
          type: integer
          x-go-name: movies
          example: 1
        episode:
          type: integer
          x-go-name: episodes
          example: 1
        artwork:
          type: integer
          x-go-name: artwork
          example: 1
        people:
          type: integer
          x-go-name: people
          example: 1
        list:
          type: integer
          x-go-name: list
          example: 1
    Favorites:
      description: User favorites record
      properties:
        series:
          items:
            type: integer
          type: array
          x-go-name: series
          example:
          - 1
        movies:
          items:
            type: integer
          type: array
          x-go-name: movies
          example:
          - 1
        episodes:
          items:
            type: integer
          type: array
          x-go-name: episodes
          example:
          - 1
        artwork:
          items:
            type: integer
          type: array
          x-go-name: artwork
          example:
          - 1
        people:
          items:
            type: integer
          type: array
          x-go-name: people
          example:
          - 1
        lists:
          items:
            type: integer
          type: array
          x-go-name: list
          example:
          - 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
