openapi: 3.2.0
info:
  description: Documentation of TheTVDB API V4.
  title: TVDB API V4 Languages API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Languages
paths:
  /languages:
    get:
      description: returns list of language records
      operationId: getAllLanguages
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Language'
                    type: array
                  status:
                    type: string
                type: object
              examples:
                GetAllLanguages200Example:
                  summary: Default getAllLanguages 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: abc123
                      name: Example Name
                      nativeName: example
                      shortCode: example
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - Languages
      summary: TheTVDB Get All Languages
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Language:
      description: language record
      properties:
        id:
          type: string
          x-go-name: ID
          example: abc123
        name:
          type: string
          x-go-name: Name
          example: Example Name
        nativeName:
          type: string
          x-go-name: NativeName
          example: example
        shortCode:
          type: string
          example: example
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
