openapi: 3.0.0
info:
  description: 'Documentation of [TheTVDB](https://thetvdb.com/) API V4. All related information is linked from our [Github repo](https://github.com/thetvdb/v4-api). You might also want to use our [Postman collection] (https://www.getpostman.com/collections/7a9397ce69ff246f74d0)

    ## Authentication

    1. Use the /login endpoint and provide your API key as "apikey". If you have a user-supported key, also provide your subscriber PIN as "pin". Otherwise completely remove "pin" from your call.

    2. Executing this call will provide you with a bearer token, which is valid for 1 month.

    3. Provide your bearer token for subsequent API calls by clicking Authorize below or including in the header of all direct API calls: `Authorization: Bearer [your-token]`


    ## Notes

    1. "score" is a field across almost all entities.  We generate scores for different types of entities in various ways, so no assumptions should be made about the meaning of this value.  It is simply used to hint at relative popularity for sorting purposes.

    '
  title: TVDB API V4 Artwork Artwork Types API
  version: 4.7.10
  x-last-validated: '2026-05-30'
  x-spec-source: https://github.com/thetvdb/v4-api/blob/main/docs/swagger.yml
servers:
- url: https://api4.thetvdb.com/v4
  description: TheTVDB v4 API production
security:
- bearerAuth: []
tags:
- name: Artwork Types
paths:
  /artwork/types:
    get:
      description: Returns a list of artworkType records
      operationId: getAllArtworkTypes
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ArtworkType'
                    type: array
                  status:
                    type: string
                type: object
              examples:
                GetAllArtworkTypes200Example:
                  summary: Default getAllArtworkTypes 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - height: 12345
                      id: 12345
                      imageFormat: example
                      name: Example Name
                      recordType: example
                      slug: example-slug
                      thumbHeight: 12345
                      thumbWidth: 12345
                      width: 12345
                    status: Continuing
        '401':
          description: Unauthorized
      tags:
      - Artwork Types
      summary: TheTVDB Get All Artwork Types
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ArtworkType:
      description: artwork type record
      properties:
        height:
          format: int64
          type: integer
          example: 12345
        id:
          format: int64
          type: integer
          x-go-name: ID
          example: 12345
        imageFormat:
          type: string
          x-go-name: ImageFormat
          example: example
        name:
          type: string
          x-go-name: Name
          example: Example Name
        recordType:
          type: string
          x-go-name: RecordType
          example: example
        slug:
          type: string
          x-go-name: Slug
          example: example-slug
        thumbHeight:
          format: int64
          type: integer
          x-go-name: ThumbHeight
          example: 12345
        thumbWidth:
          format: int64
          type: integer
          x-go-name: ThumbWidth
          example: 12345
        width:
          format: int64
          type: integer
          x-go-name: Width
          example: 12345
      type: object
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
